:root  {
    --background-image-menu: linear-gradient(180deg, #052043 0%, #3569a8 100%);
    --background-image-form: linear-gradient(180deg,  #3569a8 0%,#052043 100%);
    --background-image-academic: radial-gradient( circle at 50%, #052043 0%, #3569a8 100%);
    --background-image-about: linear-gradient(180deg, #3569a8 0%, #527aab 30%, #eaf6ff 100% );
    --background-footer:#052043;
    --color-letra-gradient: linear-gradient(180deg, white 15%, black 50%);
    --background-general: #EAF2FD;
    --background-blanco: #fffdfd;
    --background-blanco-pastel:#F5F5F5;
    --background-azul:#527aab;

    --background-color-menu: #072347;
    --background-color-about: #3569a8;
    --color-letra-blanco: #f0f8ff;


    
    --montserrat: 'Montserrat', sans-serif;
    --open-sans: 'Open Sans', sans-serif;
}

.body  {
    font-family: var(--open-sans);
    height: 100%;
    width: 100%;
    
}

.tudo {
    font-family: var(--open-sans);
}
.container {
    padding-left: 6%;
    padding-right: 6%;
}
.presentacion  {
    background-color: #3569a8;
    background-image: var(--background-image-menu);
    border: none;
    color: var(--color-letra-blanco);
    margin-bottom: 0;
}
a , a:visited, a:hover, a:active {
    color: var(--color-letra-blanco);
    text-decoration: none;
  
}

.fondo-montaña {
    background: var(--background-image-skills);
    background-image: url(../assets/montaña.jpg);
    background-position-x:center;
    background-position-y:center;
    background-repeat:no-repeat;
    background-size: 123vw;
    width: 100%;
}

@media screen and (min-width: 1024px) {
    :root {
        --background-image-about: linear-gradient(180deg, #3569a8 0%, #96d9ff 50%, #c1fff4 100% );
        --background-image-academic: linear-gradient( 180deg, #001a21 0%,#3569a8 100%);
    }
    .fondo-montaña {
        background: var(--background-image-skills);
        background-image: url(../assets/montaña4.png);
        background-position-x:center;
        background-position-y:center;
        background-repeat:no-repeat;
        background-size: 135vw;
        width: 100%;
    }
}