.formcontacto {
    background: var(--background-image-form);
    color: var(--color-letra-blanco);
    display: flex;
    justify-content: center;
    padding: 3% 0%;
}

.formcontacto__contacto {
    width: 80%;
}

.formcontacto--esquerda {
    display: none;
}

.formcontacto__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formcontacto__title {
    font-family: var(--open-sans);
    font-size: 1.8rem;
    font-weight: bold;
    padding-bottom: 5%;
}

.formcontacto__subtext {
    line-height: 1.3;
}

.formcontacto__form {
    display: flex;
    flex-direction: column;
    height: 60vh;
    justify-content: space-evenly;
    width: 100%;
}

.formcontacto__input {
    height: 10%;
}

.formcontacto__textarea,
.formcontacto__input {
    background: var(--background-blanco);
    border: none;
    font-size: 1.2rem;
    outline: none;
    padding-left: 3%;
}

.formcontacto__textarea::placeholder,
.formcontacto__input::placeholder {
    color: #A2A2A2;
    font-family: var(--open-sans);
    font-size: 1.2rem;
    font-weight: 300;
}

.formcontacto__boton {
    background: var(--background-image-menu);
    border: 1px solid var(--background-azul);
    color: var(--background-blanco);
    font-size: 1rem;
    font-weight: 500;
    height: 7vh;
    width: 50%;
}
.formcontacto__boton:hover {
    font-size: 1.2rem;
    transition: 0.4s;
}
.input__label  {
    position: absolute;
}
@media screen and (min-width: 1024px) {
    .formcontacto--esquerda {
        display: flex;
        justify-content: flex-end;
        width: 50%;
    }
    .formcontacto__img {
        width: 40vw;
    }
    .formcontacto--esquerda img  {
        filter: invert(100%) sepia(34%) saturate(2106%) hue-rotate(177deg) brightness(102%) contrast(101%);
    }
    .formcontacto__contacto {
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (min-width: 1224px) {
    .formcontacto__title {
        font-size: 2rem;
    }
    .formcontacto__subtext {
        font-size: 1.4rem;
    }
    .formcontacto__boton {
        font-size: 1.3rem;
    }
    .formcontacto__boton:hover {
        font-size: 1.5rem;
        transition: 0.4s;
    }
}