.skills__title {
    font-family: var(--open-sans);
    font-size: 1.8rem;
    font-weight: bold;
    padding: 3%;
    padding-bottom: 5%;
    text-align: center;
}

.skills__line {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    height: 100%;
    justify-content: space-around;
}

.skills__box {
    align-items: center;
    border: black 1px solid;
    border-radius: 3%;
    justify-content: center;
    margin-bottom: 4%;
    padding: 2%;
    text-align: center;
    width: 40%;
}

.skills__name {
    font-weight: bold;
}

.skills__box img {
    width: 20%;
}

@media screen and (min-width: 1024px) {
    .skills {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 80%;
    }
    .skills__title {
        font-size: 1.5rem;
    }
    .skills__box {
        border: 2px black solid;
        gap: 0;
        justify-content: space-evenly;
        padding: 2% 0;
        width: 30%;
    }
    .skills__line {
        gap: 0;
        width: 100%;
    }
    .skills__name {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1224px) {
    .skills__title {
        font-size: 2rem;
    }
    .skills__name {
        font-size: 1.3rem;
    }

}